/* one styles */
.one .line {
    position: absolute;
    width: 2px;
    height: 90px;
    background-color: var(--color-1);
    top: 30px;
    left: 200px;
}
/* .two styles */
.two .line {
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: var(--color-2);
    top: -20px;
    left: 200px;
}
/* top layer .three styles */
.three .line {
    position: absolute;
    width: 2px;
    height: 170px;
    background-color: var(--color-3);
    bottom: -80px;
    left: 200px;
}
/* .four styles */
.four .line {
    position: absolute;
    width: 2px;
    height: 255px;
    background-color: var(--color-4);
    bottom: -165px;
    right: px;
}
/* .five styles */
.five .line {
    position: absolute;
    width: 2px;
    height: 130px;
    background-color: var(--color-5);
    top: -100px;
    left: -0px;
}
/* .six styles */
.six .line {
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: var(--color-6);
    bottom: -25px;
    right: 198px;
}
.six .line::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50px;
    height: 2px;
    background-color: var(--color-4);
}
/* .seven styles */
.seven .line {
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: var(--color-4);
    bottom: 0px;
    left: 0px;
}
.seven .line::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 90px;
    height: 2px;
    background-color: var(--color-4);
}
.eight .line {
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: var(--color-5);
    bottom: 59px;
    left: 0px;
}
.eight .line::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 90px;
    height: 2px;
    background-color: var(--color-5);
}